.carrossel{
    height: 200px;
    width: 1000px;
    
    overflow: hidden;

    left: 28%;
    transform: translate(28%);
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 35%;
    transform: translate(35%);

    display: flex;
}

.bar{
    width: 70px;
    height: 10px;
    border: 2px solid #05141B;
    margin: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover{
    background-color: #05141B;
}

.inputCarrossel{
    display: none;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 20%;

    transition: .8s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{
    margin-left: 0px;
}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

@media(min-width: 2500px){
    .carrossel{
        margin-top: 50px;
        width: 2000px;
        left: 15%;
        transform: translate(15%);
    }

    .navigation{
        left: 40%;
        transform: translate(40%);
    }

    .bar{
        width: 100px;
        border: 2px solid #fff;
    }
    
    .bar:hover{
        background-color: #fff;
    }
}

@media(max-width: 1920px){
    .carrossel{
        margin-top: 50px;
        width: 1500px;
        left: 15%;
        transform: translate(15%);
    }

    .navigation{
        left: 37%;
        transform: translate(37%);
    }

    .bar{
        width: 100px;
        border: 2px solid #fff;
    }
    
    .bar:hover{
        background-color: #fff;
    }
}

@media(max-width: 450px){
    .carrossel{
        width: 300px;

        top: 50%;
        left: 50%;
        transform: translate(22%, -50%);
    }

    .navigation{
        top: 60%;
        left: 32%;
        transform: translate(0%, -40%);
    }

    .bar{
        width: 40px;
        border: 2px solid #fff;
    }
}