*{
    margin: 0;
    padding: 0;
    
    font-family: Arial, Helvetica, sans-serif;
}

.body{
    background-color: #FBF7E9;
    position: relative;
}

.principal{
    position: absolute;

    top: 800px;
}

.separadores-individual{
    align-items: center;
    display: flex;

    
    transform: translate(20%, -1150%);
}

#rmrb{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 20px;
    
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

.line1{
    width: 400px;
    height: 3px;
}

.line2{
    width: 578px;
    height: 3px;
}

.campo-consulta{
    display: flex;    
    align-items: center;
    justify-content: center;
    
}

#campo-consulta1{
    
    transform: translate(20%, -865%);
}

#campo-consulta2{
    transform: translate(20%, -865%);
    
}

.campo-relatorios{
    display: flex;
}

.texto-relatorio{
margin-left: 50px;

}

.campo-botao{
    margin-left: 300px;
}

.campo-botao1{
    margin-left: 659px;
}

.botao-individual{
    background-color: #05141B;
    border: 2px solid #05141B;

    color: #FBF7E9;
    font-family: 'Orbitron', sans-serif;
    padding: 5px;
}

@media(max-width: 450px){
    .line1{
        width: 300px;
    }

    .line2{
        width: 400px;
    }
}