*{
    margin: 0;
    padding: 0;
    
    font-family: Arial, Helvetica, sans-serif;
}

.body{
    background-color: #FBF7E9;
}

.engloba{
    display: flex;
}

.texto{
    width: 650px;
   
    justify-content: space-between;

    text-align: start;

    margin-top: 130px;
    margin-left: 50px;

    font-family: Arial, Helvetica, sans-serif;
}

#h4Texto{
    font-weight: bold;
}

.chamadaTexto{
    font-size: 20px;
}

.logoGrande{
    margin-top: 100px;
    margin-left: 100px;
    width: 450px;
}

/* Responsividade */

@media(min-width: 2500px){
    .texto{
        width: 1500px;
    }

    .chamadaTexto{
        font-size: 50px;
    }

    .logoGrande{
        width: 800px;
    }
}

@media(max-width: 1920px){
    .texto{
        width: 800px;
    }

    .chamadaTexto{
        font-size: 20px;
    }

    .logoGrande{
        width: 900px;
    }
}